* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-image: radial-gradient(at 50% 0, #1f3756, #141539);
  color: white;
  min-height: 100vh;
}

.main {
  padding-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 3rem;
  text-transform: uppercase;
}
